<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=a, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Articles index page</h1>
        <ul>
            <% for(let i = 0; i < articles.length; i++){ %>
                <li>
                    The <a href="/articles/<%=articles[i]._id%>"><%=articles[i].title; %></a> is about <%=articles[i].topic; %>.
                   

                    <a href="/articles/<%=articles[i]._id; %>/edit">Edit</a>

                    <form action="/articles/<%=articles[i]._id%>?_method=DELETE" method="POST">
                      <button type="submit">Delete</button>
                    </form>
                </li>
            <% } %>
        </ul>
        <nav>
            <a href="/articles/new">Create a New Article</a>
        </nav>

    
</body>
</html>